:root {
  --color1: #2b2c30;
  --color2: #35313b;
  --color3: #453745;
  --color4: #613c4c;
  --color5: #ff1457;
}

.body{
  background-color: var(--color1);
  width: 100%;
  color: white;
}

.cuerpo{
  max-width: 1100px;
  margin: 0 auto;
}

.cuerpo-menu{
  background-color: var(--color5);
  color: var(--color5);
}

.align-center {
  display: flex;
  align-items: center;
}
